.mobileCard{
    img{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .noimg{
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dad5d5;
    }
    .not-available{
        filter:blur(1.5px) grayscale(1)
    }
    .unavailable{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}